<h1>hello page</h1>

<%= 1 + 1 %>

<% target = "world" %> <br>

<%= "hello #{target}" %> <br>


<% @array.each do |n| %>
  <%= n %> <br>
<% end %>


<%= link_to 'Home', {action: 'index'} %>  <br>

<br>

ID <%= @id %> <br>
ID <%= params[:id] %> <br>
Page <%= @page %> <br>
Next page <%= @page.to_i + 1 %> <br>
